* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    position: relative;
}

#button {
    
}

#object {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
    transform: rotate(0deg) translateX(-30vw);
    transition: transform 2s linear 0s;
}
